.country{
    width: 300px;
    text-align: center;
    background-color: #adaaa6;
    border: 2px solid lightgray;
    border-radius: 6px;
}
h2{
    text-align: center;
    color:rgb(229, 30, 30);
}
.body{
    margin: 20px auto;
}
#container{
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
}
#details img{
    width: 250px;
    height: 200px;
}

#details{
    padding: 15px 10px;
    width: 500px;
    height: 400px;
    background-color: aliceblue;
    box-shadow: 10px 10px 20px grey;
    position: sticky;
    top: 20px;
    left: 400px;
    display: none;
    text-align: center;
    z-index: 1;
}